<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
		<script type="text/javascript" src="static/js/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="static/semantic/dist/semantic.min.js"></script>
		<style>
			body{
				text-align: center;
				background-color: #007FFF;
			}
			h1 {
				font-family: 'Arial';
				font-size: 90px;
				color: #7fff0;
				margin: 0;
			}
			#content {
			  position: absolute;
			  width: 300px;
			  height: 200px;
			  z-index: 15;
			  top: 27%;
			  left: 50%;
			  margin: -100px 0 0 -150px;
			}
		</style>
	</head>


	<body>
		<div id="content" class="ui centered grid">
		  <div class="row">
	    	<h1> Seeder </h1>		  
	    	<h2 style="margin-top: 0;"> A community driven delivery service</h2><br/>
	    	<div style="margin-top: 20px;">
	    		<p style="font-size: 17px;"> Sign up for beta, launching for USA to Costa Rica. </p>
				<form class="ui form">
					<div class="ui large input" style="width: 270px;">
					  <input type="text" placeholder="Email Address">
					</div><br/>
					<div style="margin-top: 10px;">
						<input type="submit" class="ui big green button" value="Sign Up">
					</div>
				</form>		    	
			</div>
		  </div>
		</div>
	</body>
</html>